.dashboard-wrapper {
    padding: 3rem;
}
.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 auto;
    align-items: stretch;
}
.title {
    margin: 2rem;
    margin-bottom: 5rem;
}